.inputRange {
    appearance: none;
    height: 25px;
    border-radius: 9999px;
    background: #dddddd;
    cursor: pointer;
}

/* ツマミ：Chrome, Safari, Edge用 */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background: rgb(239, 68, 68);
    box-shadow: none;
}

/* ツマミ：Firefox用 */
.inputRange::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background: rgb(239, 68, 68);
    box-shadow: none;
}